<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>complete responsive fitness and gym website design</title>

    <!-- font awesome cdn link  -->
    <script src="https://kit.fontawesome.com/7148e94c7c.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- custom css file link  -->
    //- <link rel="stylesheet" href="..static/style.css">
    <link rel="stylesheet" href="../static/features.css">

</head>

<body>

    <!-- header section starts      -->

    <header class="header">

        <a href="#" class="logo"> <span>BE</span>AST </a>

        <div id="menu-btn" class="fas fa-bars"></div>

        <nav class="navbar">
            <a href="/home">home</a>
            <a href="/about">about</a>
            <a href="/features">features</a>
            <a href="/pricing">pricing</a>
            <a href="/trainers">trainers</a>
            <a href="/blogs">blogs</a>
            <a href="/contact">Register</a>
            <i class="fa-solid fa-bars"></i>


        </nav>

    </header>

    
    <section class="features" id="features">

        <h1 class="heading"> <span>gym features</span> </h1>

        <div class="box-container">

            <div class="box">
                <div class="image">
                    <img src="static/images/f-img-1.jpg" alt="">
                </div>
                <div class="content">
                    <img src="static/images/icon-1.png" alt="">
                    <h3>body building</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, atque.</p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>

            <div class="box second">
                <div class="image">
                    <img src="static/images/f-img-2.jpg" alt="">
                </div>
                <div class="content">
                    <img src="static/images/icon-2.png" alt="">
                    <h3>gym for men</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, atque.</p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="static/images/f-img-3.jpg" alt="">
                </div>
                <div class="content">
                    <img src="static/images/icon-3.png" alt="">
                    <h3>gym for women</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, atque.</p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>

        </div>

    </section>

    <div class="credit"> created by <span>Whole Team</span> | all rights reserved! </div>

    </body>
    </html>